<!-- templates/includes/footer.html -->
<script src="https://cdn.tailwindcss.com"></script>
<footer class="bg-[#531E00] text-white py-8">
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="mb-4 md:mb-0">
                <h2 class="text-2xl font-bold">NutriSnap</h2>
                <p class="text-white mt-2">Kenali Makananmu, Wujudkan Hidup Sehat</p>
            </div>
            <div class="text-center text-white">
                <p>&copy; 2025 NutriSnap. All rights reserved.</p>
            </div>
            <!-- <div class="flex space-x-6">
                <a href="#" class="hover:text-green-400">Tentang Kami</a>
                <a href="#" class="hover:text-green-400">Kontak</a>
                <a href="#" class="hover:text-green-400">Kebijakan Privasi</a>
            </div> -->
        </div>
        <!-- <div class="border-t border-gray-700 mt-6 pt-6 text-center text-gray-400">
            <p>&copy; 2025 NutriSnap. All rights reserved.</p>
        </div> -->
    </div>
</footer>
